/*adds css*/
.main-ad {
  background-color: #f5f6fa;
}
.main-ad .col-md-3 {
  padding: 40px 20px 40px 40px;
}
.main-ad .col-md-3 .item-list {
  box-shadow: 2px 2px 8px 8px #ccdae3;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 0;
  margin: 0;
}
.main-ad .col-md-3 .item-list ul {
  list-style: none;
  padding-left: 0;
}
.main-ad .col-md-3 .item-list ul li {
  padding: 10px;
  border-bottom: 1px solid #e9e6e5;
  margin-right: 6%;
  margin-left: 5%;
}
.main-ad .col-md-3 .item-list ul li a {
  color: #000;
  text-decoration: none;
}
.main-ad .col-md-3 .item-list ul li a:hover,
.main-ad .col-md-3 .item-list ul li a:active {
  color: #0f75bc;
}
.main-ad .col-md-3 .item-list ul li i {
  width: 50px;
  height: 50px;
  padding-top: 3.5%;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  margin-right: 8%;
  text-align: center;
  background-color: #0f75bc;
}
.main-ad .col-md-3 .item-list ul .user_image {
  background-color: #0f75bc;
  padding: 0;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  /* padding: 20px 60px; */
}
.main-ad .col-md-3 .item-list ul .user_image img {
  width: 100px;
  height: 100px;
  border-radius: 17px;
  /* margin: 30px; */
}
.main-ad .col-md-3 .item-list ul .user_image h2 {
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 0;
}
.main-ad .col-md-3 .item-list ul .user_image span {
  color: white;
  font-size: 11px;
  margin-top: 0;
  padding-top: 0;
}
.main-ad .col-md-3 .item-list ul .barcode span {
  margin-left: 30%;
  text-align: center;
}

.underline-blue {
  display: inline-block;
  position: relative;
}
.underline-blue::before {
  content: "";
  height: 7px;
  width: 30px;
  background-color: #0f75bc;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.underline-blue::after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: #cccccc;
  position: absolute;
  left: 30px;
  bottom: -2px;
}

.view-info {
  padding: 40px 40px 40px 40px;
  margin-right: 5%;
}
.viewed .view-info h3 {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.banner {
  background-color: #ffff;
  box-shadow: 2px 2px 8px 8px #ccdae3;
  border-radius: 10px;
  margin-top: 2%;
  padding: 1% 2%;
}
.banner-line {
  border-right: 2px solid #e9e6e5;
}
.banner-colour {
  color: #0f75bc;
}
.service {
  margin-top: 4%;
}
.service .form-group .form-control {
  color: #0f75bc;
  border: 3px solid #dddfe1;
  border-radius: 7px;
}
.service .form-group .form-control:focus {
  box-shadow: none;
}
.control {
  display: inline-flex;
  align-items: center;
}
.control__indicator {
  margin-right: 0.25rem;
  border: 3px solid #0f75bc;
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 3px;
}
.control__indicator--radio {
  border-radius: 20%;
}
.control__input:checked ~ .control__indicator {
  background-color: #0f75bc;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/* Visually hide the browser input to ensure it is still focusable via keyboards */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.banner-adver {
  background-color: #ffff;
  box-shadow: 2px 2px 8px 8px #ccdae3;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 50px;
  margin-top: 2%;
  padding: 1% 2%;
  /*padding: 40px 40px 40px 40px;margin-right: 5%;*/
}
.adver-border .adver-img {
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 180px;
}
.img-handing {
  position: absolute;
  bottom: -8px;
  font-size: 18px;
  color: white;
  text-align: center;
  left: 15px;
  right: 15px;
  top: 0;
  padding-top: 130px;
  border-radius: 30px;
  background-image: linear-gradient(Transparent, black);
}
/*vertical slider*/
.vartical-line {
  border-right: 5px solid #d3d1d1;
  margin-top: 50px;
  margin-right: 20px;
  height: 520px;
}
.vartical-line .box {
  position: absolute;
  border: 3px solid white;
  height: 25px;
  width: 25px;
  background-color: #0f75bc;
  border-radius: 50%;
  left: 25px;
  top: 250px;
}

@media only screen and (max-width: 600px) {
  .vartical-line {
    display: none;
  }
}
