/* Main final screen */

/* .main-ad {
  background-color: #f5f6fa;
} */
.main-ad .col-md-3 {
  padding: 40px 20px 40px 40px;
}
.main-ad .col-md-3 .item-list {
  box-shadow: 2px 2px 8px 8px #ccdae3;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 0;
  margin: 0;
}
.main-ad .col-md-3 .item-list ul {
  list-style: none;
  padding-left: 0;
}
.main-ad .col-md-3 .item-list ul li {
  padding: 10px;
  border-bottom: 1px solid #e9e6e5;
  margin-right: 6%;
  margin-left: 5%;
}
.main-ad .col-md-3 .item-list ul li a {
  color: #000;
  text-decoration: none;
}
.main-ad .col-md-3 .item-list ul li a:hover,
.main-ad .col-md-3 .item-list ul li a:active {
  color: #0f75bc;
}
.main-ad .col-md-3 .item-list ul li i {
  width: 50px;
  height: 50px;
  padding-top: 3.5%;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  margin-right: 8%;
  text-align: center;
  background-color: #0f75bc;
}
.main-ad .col-md-3 .item-list ul .user_image {
  background-color: #0f75bc;
  padding: 0;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  /* padding: 20px 60px; */
}
.main-ad .col-md-3 .item-list ul .user_image img {
  width: 100px;
  height: 100px;
  border-radius: 17px;
  /* margin: 30px; */
}
.main-ad .col-md-3 .item-list ul .user_image h2 {
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 0;
}
.main-ad .col-md-3 .item-list ul .user_image span {
  color: white;
  font-size: 11px;
  margin-top: 0;
  padding-top: 0;
}
.main-ad .col-md-3 .item-list ul .barcode span {
  margin-left: 30%;
  text-align: center;
}

.underline-green {
  display: inline-block;
  position: relative;
}
.underline-green::before {
  content: "";
  height: 7px;
  width: 30px;
  background-color: #0f75bc;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.underline-green::after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: #cccccc;
  position: absolute;
  left: 30px;
  bottom: 1px;
}
.main-ad .col-md-4 {
  padding: 40px 20px 40px 20px;
}
.main-ad .col-md-4 .m-info {
  padding: 15% 7% 1% 8%;
}
.main-ad .col-md-4 .m-info h3 {
  font-size: 20px;
  /* margin-left: 10%; */
  padding-bottom: 1%;
}
.main-ad .col-md-4 .m-info img {
  width: 300px;
  margin-top: 8%;
  margin-left: 0;
  margin-right: 0;
}

.main-ad .buttons {
  padding: 50px 15px 10px 10px;
}
.main-ad .buttons button {
  font-size: 13px;
}
.main-ad .buttons button:focus {
  box-shadow: none;
  background-color: #0f75bc;
  color: white;
}
.main-ad .buttons img {
  margin-top: 7%;
  width: 100%;
}

.main-ad .buttons .add-f {
  box-shadow: 2px 2px 8px 8px #ccdae3;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5% 7% 5% 7%;
}
.main-ad .add-f h3 {
  font-size: 22px;
  /* margin-bottom: 2%; */
}
.main-ad .buttons .add-f p {
  /* padding-top: 2%; */
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}
.main-ad .buttons .add-f span {
  font-size: 24px;
  padding: 0 4%;
}
.main-ad .buttons .add-f input {
  color: #38b3f0;
}
.main-ad .buttons .add-f span u {
  padding-right: 30px;
  border-right: 1px solid gray;
}
.main-ad .buttons .add-f h2 i {
  float: right;
  color: #38b3f0;
}
.main-ad .buttons .add-f .outline {
  margin: 10px 20px 10px 5px;
}
.main-ad .buttons .add-f .out-color {
  background-color: #e1e0e0;
  padding: 5px 10px;
  margin: 0;
  color: #1fa3eb;
  border-radius: 10px;
}
.main-ad .buttons .add-f .out-color span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
  background-color: #f87c7c;
}
.main-ad .buttons .add-f .out-color .blue-c {
  background-color: #009eec;
}
.loc-button {
  padding-top: 4%;
  padding-left: 10%;
  margin-bottom: 10%;
}

/*Button Css*/
.btn-white-shadows {
  box-shadow: 0 2px #b0b6ba;
  padding: 0 3px 3px 3px;
  border-radius: 50px;
  display: inline-block;
  background-color: white;
}
.white-back-btn {
  padding: 4px 25px;
  color: #0f75bc;
  border: 1px solid #149b46;
  background-color: white;
  border-radius: 50px;
  font-weight: normal;
}
.white-back-btn:hover {
  color: black;
  background-color: #c0c0c0;
}

.green-back-btn {
  /*margin-left: 17%;*/
  padding: 8px 30px;
  box-shadow: 0 2px #b1b7bc;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  background-color: #0f75bc;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #009eec;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
